<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802738668936-6ckaf483t4r85rs1huusmtgar3a4p8m5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802738668936-6ckaf483t4r85rs1huusmtgar3a4p8m5</string>
	<key>API_KEY</key>
	<string>AIzaSyDTZvfZocGZKGVZw_lbqtv08SWlClY89q4</string>
	<key>GCM_SENDER_ID</key>
	<string>802738668936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ipaycheck.PacMan-Coronatrainer</string>
	<key>PROJECT_ID</key>
	<string>quarantraining-377bb</string>
	<key>STORAGE_BUCKET</key>
	<string>quarantraining-377bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802738668936:ios:54b3afab760286d45ba63d</string>
	<key>DATABASE_URL</key>
	<string>https://quarantraining-377bb.firebaseio.com</string>
</dict>
</plist>